<div class="rightcolumn">

    <div class="card">
      <h2>Карточка раз</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>

    <div class="card">
      <h3>Карточка два</h3>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>

    <div class="card">
      <h3>Карточка 3</h3>
      <p>Some text..</p>
    </div>

</div>
